#template,
#path {
  fill: none;
}

#template {
  stroke-width: 5px;
  stroke: #444;
}

#oiseau-3 img {
  max-width: 500%;
  margin-left: -150%;
}

#oiseau-1 img {
  max-width: 100%;
}
#oiseau-2 img {
  max-width: 100%;
}

#oiseau-4 img {
  max-width: 100%;
}
