.grotte img {
  object-fit: cover;
  width: 100%;
  height: 50%;
  position: relative;
  z-index: 1;
}
.planet img {
  max-width: 50%;
  position: relative;
  bottom: 50%;
  top: -70%;
  left: 56%;
  z-index: -1;
  margin-top: -75%;
  margin-left: -55%;
}
.parallax-container {
  height: calc(100vh - 40px);
  margin-block: 10px;
  padding: 10px;
  //   border: 5px solid black;
  border-radius: 10px;
  background: black;
  position: relative;
}

.parallax-element {
  //   border: 3px solid purple;
  //   border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

// #element-1 {
//   margin-left: 50%;
// }

// #element-1 img {
//   width: 9.5rem;
//   height: 8.5rem;
//   margin-top: 15%;
//   margin-bottom: 75%;
//   margin-left: 20%;
// }

// #element-3 button {
//   max-width: 100%;
// }
// #element-3 {
//   margin-right: 65%;
//   margin-top: 10%;
// }

// gfgf

#element-1 {
  position: absolute;
  bottom: 0;
  left: 0;
  left: 45%;
  height: 70%;
  background: rgba(110, 93, 131, 0.8);
}

#element-1 img {
  width: 9.5rem;
  height: 8.5rem;
}

#element-2 {
  position: absolute;
  bottom: 10%;
  left: 10%;
  width: 25%;
  height: 45%;
}

#element-3 {
  position: absolute;
  bottom: 30px;
  right: 100px;
  width: 10%;
  height: 10%;
  // background: rgba(182, 171, 196, 0.8);
}
