.grotte img {
  object-fit: cover;
  width: 100%;
  height: 50%;
  position: relative;
  z-index: 1;
}
.planet img {
  max-width: 50%;
  position: relative;
  bottom: 50%;
  top: -70%;
  left: 56%;
  z-index: -1;
  margin-top: -75%;
  margin-left: -55%;
}
.parallax-container {
  height: calc(100vh - 40px);
  margin-block: 10px;
  padding: 10px;
  //   border: 5px solid black;
  //   border-radius: 10px;
  background: black;
  position: relative;
}

.parallax-element {
  display: flex;
  align-items: center;
  justify-content: center;
}

// gfgf

#element-1 {
  position: absolute;
  bottom: 0;
  left: 0;
  left: 45%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#element-1 img {
  width: 9.5rem;
  height: 9.5rem;
}
#element-1 p {
  color: white;
  margin-left: 25%;
  margin-right: 15%;
}

#element-2 {
  position: absolute;
  bottom: 10%;
  left: 10%;
  width: 25%;
  height: 45%;
}

#element-3 {
  position: absolute;
  bottom: 30px;
  right: 70%;
  width: 10%;
  height: 10%;
}

#element-3 button {
  font-size: 25px;
  font-family: "Helvetica Neue";
  background-color: white;
  color: black;
  border: 2px solid transparent;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#element-3 button:hover {
  background-color: black;
  color: white;
  border: 2px solid white;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}
