.grotte img {
  object-fit: cover;
  width: 100%;
  height: 50%;
  position: relative;
  z-index: 1;
}
.planet img {
  max-width: 50%;
  position: relative;
  bottom: 50%;
  top: -70%;
  left: 56%;
  z-index: -1;
  margin-top: -75%;
  margin-left: -55%;
}
.parallax-container {
  height: calc(100vh - 40px);
  margin-block: 10px;
  padding: 10px;
  //   border: 5px solid black;
  //   border-radius: 10px;
  //   background: rgba(30, 25, 36, 0.8);
  position: relative;
}

.parallax-element {
  //   border: 3px solid purple;
  //   border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#element-1 {
  margin-left: 50%;
}

#element-1 img {
  width: 9.5rem;
  height: 8.5rem;
  margin-top: 15%;
  margin-bottom: 75%;
  margin-left: 20%;
}
