.menu {
  display: flex;
  justify-content: end;
  gap: 47px;
  margin-right: 40px;

  color: var(--Black, #000);
  text-align: center;
  font-family: "Helvetica Neue";
  font-size: 24px;
}

.menu a {
  margin-top: 30px;
}
