.slider-mask {
  overflow: hidden;
  height: 100vh;
}

.slider-container {
  display: inline-flex;
  height: 100%;
  gap: 10px;
  // border: 5px solid red;
  width: 150%;
  position: relative;
  display: flex;
  background-color: #ea989d;
}

.slider-container .montagne-paysage img {
  margin-top: 2%;
  width: 110%;
  height: 50%;
  margin-left: 16%;
  flex-shrink: 0;
  display: block;
  position: relative;
  z-index: -2;
  scale: 1.3;
  inset: 0;
}
.slider-container .parapaysage img {
  margin-top: 13%;
  width: 100%;
  height: 67%;
  object-fit: cover;
  flex-shrink: 0;
  display: block;
  position: absolute;
  z-index: 2;
}
.slider-container .foret-paysage img {
  margin-top: 8%;
  width: 100%;
  height: 50%;
  object-fit: cover;
  flex-shrink: 0;
  position: relative;
  z-index: 1;
}
.slider-item {
  position: absolute;
  z-index: 3;
  opacity: 1;
}
.slider-item#item-1 img {
  max-width: 20%;
  margin-top: 30%;
  margin-left: 10%;
}
.slider-item#item-2 img {
  max-width: 50%;
  margin-top: 60%;
  margin-left: 15%;
}
.slider-item#item-3 img {
  max-width: 30%;
  margin-top: 55%;
  margin-left: 65%;
}
.slider-item#item-4 img {
  max-width: 60%;
  margin-top: 85%;
  margin-left: 95%;
}
.slider-item#item-5 img {
  max-width: 30%;
  margin-top: 80%;
  margin-left: 140%;
}
.slider-item#item-6 img {
  max-width: 50%;
  margin-top: 30%;
  margin-left: 170%;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
