body {
  background-color: black;
}
.container {
  min-height: 200vh;
  margin-top: 10%;
}
.background {
  background-image: url(../img/ciel\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.container-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30%;
  padding-bottom: 5%;
  flex-direction: column;
}
.object-title {
  border: 5px solid rgb(108, 202, 71);
  width: 10%;
  height: 80px;
  opacity: 1;
  border-radius: 10px;
}
.spacer {
  height: 100vh;
  margin-block: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.object-wrapper {
  display: flex;
  margin: 100px 0;
}

.object {
  width: 30%;
  height: 200px;
  opacity: 1;
  border-radius: 10px;
}
