.container {
  min-height: 200vh;
  margin-top: 10%;
}
.background {
  background-image: url(../img/ciel\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.container-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30%;
  padding-bottom: 5%;
  flex-direction: column;
}
.object-title {
  border: 5px solid rgb(108, 202, 71);
  width: 10%;
  height: 80px;
  opacity: 1;
  border-radius: 10px;
}
.spacer {
  height: 100vh;
  margin-block: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  // background: repeating-linear-gradient(
  //   45deg,
  //   #606dbc33,
  //   #606dbc33 10px,
  //   #606dbc00 10px,
  //   #606dbc00 20px
  // );
}

.object-wrapper {
  display: flex;
  margin: 100px 0;
}

.object {
  // border: 5px solid blue;
  width: 30%;
  height: 200px;
  opacity: 1;
  border-radius: 10px;
}

.grotte img {
  object-fit: cover;
  width: 100%;
  height: 50%;
  position: relative;
  z-index: 1;
}
.planet img {
  max-width: 50%;
  position: relative;
  bottom: 50%;
  top: -70%;
  left: 56%;
  z-index: -1;
  margin-top: -75%;
  margin-left: -55%;
}
.parallax-container {
  height: calc(100vh - 40px);
  margin-block: 10px;
  padding: 10px;
  border: 5px solid black;
  border-radius: 10px;
  background: rgba(30, 25, 36, 0.8);
  position: relative;
}

.parallax-element {
  border: 3px solid purple;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#element-1 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70%;
  background: rgba(110, 93, 131, 0.8);
}

#element-2 {
  position: absolute;
  bottom: 10%;
  left: 10%;
  width: 25%;
  height: 45%;
}

#element-3 {
  position: absolute;
  bottom: 30px;
  right: 100px;
  width: 10%;
  height: 10%;
  background: rgba(182, 171, 196, 0.8);
}

#template,
#path {
  fill: none;
}

#template {
  stroke-width: 5px;
  stroke: #444;
}

#oiseau-3 img {
  max-width: 500%;
  margin-left: -150%;
}

#oiseau-1 img {
  max-width: 100%;
}
#oiseau-2 img {
  max-width: 100%;
}

#oiseau-4 img {
  max-width: 100%;
}
